<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Api integration using asp.net and database</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css"/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark">
<div class="container-xl">
	<div class="table-responsive">
		<div id="deleteMsg">
			
		</div>
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Employees</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="add.html" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Mobile</th>
						<th>Email</th>
						<th>LoginId</th>
						<th>Password</th>
						<th>Department</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="empList">
					
				</tbody>
			</table>
		</div>
	</div>
	
</div>


<script>
	let serverUrl = "http://localhost:5254/api/";
	let empList = serverUrl + "employee/";

	fetch(empList)
	.then(res => res.json())
	.then(json => {
		console.log(json)
		let tableBoldy = document.getElementById("empList");
		let tr = "";
		json.forEach(employee => {
			tr += 
				`<tr id="${employee.id}">
					<td>${employee.id}</td>
					<td>${employee.name}</td>
					<td>${employee.mobile}</td>
					<td>${employee.email}</td>
					<td>${employee.loginId}</td>
					<td>${employee.password}</td>
					<td>${employee.departmentInfo.departmentName}</td>
					<td>
						<a href="edit.html?id=${employee.id}" class="edit" ><i class="material-icons" title="Edit">&#xE254;</i></a>
						<a href="#" class="delete" onclick="deleteEmployee(${employee.id}, this)"><i class="material-icons" title="Delete">&#xE872;</i></a>
					</td>
				</tr>`
		});
		tableBoldy.innerHTML = tr;
	})
	.catch(error => console.log(error))


	function deleteEmployee(id, e) {
		console.log(e)
		let delEmp = empList + id;
		fetch(delEmp,{
			method: "delete",
		})
		.then(res => res.json())
		.then(json => {
			e.closest("tr").remove();
			deleteMsg(json)
		});
	}

	function deleteMsg(msg) {
		let deleteMsg = document.getElementById("deleteMsg");
		let msgAlert = "";
		if(msg.status = "success")
		{
			msgAlert += 
						`<div class="alert alert-success alert-dismissible fade show p-3" id="deleteMsg" role="alert">
							<strong>${msg.message}</strong>
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
					`
		}
		deleteMsg.innerHTML = msgAlert;
	}

</script>

</body>
</html>